<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

<!--    <menu id="application" title="msg://com.company.noesmo/menu.application.title" opened="true">-->
<!--        <item view="noesmo_User.list" title="msg://com.company.noesmo.view.user/UserListView.title"/>-->
<!--    </menu>-->
    <!-- новая верхняя вкладка Администрирование -->
    <menu id="administration" title="msg://com.company.noesmo/menu.administration.title" opened="true" icon="vaadin:cog">
        <item id="admin_users" view="noesmo_AdminUser.list" title="msg://com.company.noesmo.view.adminuser/adminUserListView.title"/>
        <!-- сюда можно добавить роли, подсистемы и т.п. -->
    </menu>
    <menu id="system" title="msg://com.company.noesmo/menu.system.title" icon="vaadin:cogs">
        <item id="users" view="noesmo_User.list" title="msg://com.company.noesmo.view.user/UserListView.title" />
        <!-- сюда можно добавить роли, подсистемы и т.п. -->
    </menu>

</menu-config>